DATABRICKS_PROFILE=
DATABRICKS_CATALOG=main
DATABRICKS_SCHEMA=qa
DATABRICKS_WAREHOUSE_ID=
TEST_CASE_TABLE_NAME=test_cases
PAYOR_CONFIG_CATALOG=your_catalog
PAYOR_CONFIG_SCHEMA=your_schema
PAYOR_CONFIG_TABLE_NAME=your_table