DATABRICKS_PROFILE=
DATABRICKS_CATALOG=main
DATABRICKS_SCHEMA=qa
DATABRICKS_WAREHOUSE_ID=
TEST_CASE_TABLE_NAME=test_cases
PAYOR_CONFIG_CATALOG=your_catalog
PAYOR_CONFIG_SCHEMA=your_schema
PAYOR_CONFIG_TABLE_NAME=your_table
VALIDATION_SQL_CATALOG=main
VALIDATION_SQL_SCHEMA=qa
VALIDATION_SQL_TABLE_NAME=validation_sql
TEST_CASE_RESULTS_CATALOG=main
TEST_CASE_RESULTS_SCHEMA=qa
TEST_CASE_RESULTS_TABLE_NAME=test_case_results
GENIE_SPACE_TITLE=Health Check SQL Generator
APP_DEBUG=true
APP_LOG_LEVEL=INFO
APP_LOG_FILE=logs/data_health_monitor.log
APP_LOG_MAX_BYTES=10485760
APP_LOG_BACKUP_COUNT=5